<div class="container bg-info">
    <h1>Product Details</h1>
    <hr />
    <h3>Product Id : @ViewBag.pid </h3>
    <h3>Product Name : @ViewBag.pname </h3>
    <h3>Product Price : @ViewBag.pprice </h3>
</div>
