<form name="product_form" action="/Product/Index" method="post">
    <div>
        <label>
            Enter Product Id
        </label>
    </div>
    <div>
        <input type="text" name="productId" />
    </div>
    <div>
        <label>
            Enter Product Name
        </label>
    </div>
    <div>
        <input type="text" name="productName" />
    </div>
    <div>
        <label>
            Enter Product Price
        </label>
    </div>
    <div>
        <input type="text" name="productPrice" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
