@{
    ViewData["Title"] = "Home Page";
}

<div>
    <font size="20px">
        <a href="/Home/MyForm">Click Here </a>to fill the form
        <br />
        <a href="/Student/StudentForm">Click Here </a>to fill the Student form
        <br />
        <a href="/Product/ProductForm">Click Here </a>to fill the Product form
    </font>
    
</div>
