<form name="fr" action="/Home/ShowData">
    <div>
        <label>
            Enter Your Name
        </label>
    </div>
    <div>
        <input type="text" name="name" />
    </div>
    <div>
        <label>
            Enter Your Age
        </label>
    </div>
    <div>
        <input type="text" name="age" />
    </div>
    <div>
        <label>
            Enter Your Gender
        </label>
    </div>
    <div>
        <input type="text" name="gender" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
