<div class="container bg-info">
    <h1>Student Id : @ViewBag.sid</h1>
    <h1>Student Name : @ViewBag.sname</h1>
    <h1>Student DOB : @ViewBag.sdob</h1>
    <h1>Student Gender : @ViewBag.sgender</h1>
</div>