
<form name="fr" action="/Student/Index" method="post" >
    <div>
        <label>
            Enter Student Id
        </label>
    </div>
    <div>
        <input type="text" name="studentId" />
    </div>
    <div>
        <label>
            Enter Student Name
        </label>
    </div>
    <div>
        <input type="text" name="studentName" />
    </div>
    <div>
        <label>
            Enter Student DOB
        </label>
    </div>
    <div>
        <input type="date" name="studentDOB" />
    </div>
    <div>
        <label>
            Enter Student Gender
        </label>
    </div>
    <div>
        <select name="studentGender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Others">Others</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
