<div class="container bg-body-secondary">
    <form name="course_form" action="/Course/Index" method="post">
        <div>
            <label>
                Enter Course Id
            </label>
        </div>
        <div>
            <input type="text" name="courseId" />
        </div>
        <div>
            <label>
                Enter Course Name
            </label>
        </div>
        <div>
            <input type="text" name="courseName" />
        </div>
        <div>
            <label>
                Enter Course Credit
            </label>
        </div>
        <div>
            <input type="text" name="courseCredit" />
        </div>
        <div>
            <label>
                Enter Course Grade
            </label>
        </div>
        <div>
            <input type="text" name="grade" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>