<div class="container bg-dark-subtle">
    <h1>
        Course Details
    </h1>
    <hr />
    <h3>
        Course Id : @ViewBag.cid
    </h3>
    <h3>
        Course Name : @ViewBag.cname
    </h3>
    <h3>
        Course Credit : @ViewBag.ccredit
    </h3>
    <h3>
        Course Grade : @ViewBag.grade
    </h3>
</div>
